* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h1, h2 {
	color: #00a000;
	text-align: center;
}

.section {
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid #00a000;
	border-radius: 5px;
}

.form-group {
	margin-bottom: 10px;
}

.img{
    height: 500px;
    width: 500px;
    border-radius: 100%;

}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

select, input[type="number"], input[type="text"] {
	padding: 5px;
	font-size: 16px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	width: 100%;
}

button {
	padding: 5px 10px;
	font-size: 16px;
	background-color: #00a000};

    